---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PostDatetime from "@components/PostDatetime";
import { slugifyStr } from "@utils/slugify";

export interface Props {
  slug: string;
  post: {
    title: string;
    readTimeInMinutes: string;
    updatedAt: string;
    publishedAt: string;
    content: {
      html: string;
    };
  };
}

const { post, slug } = Astro.props;

const {
  title,
  readTimeInMinutes,
  updatedAt,
  publishedAt,
  content: { html },
} = post;
post;
---

<Layout title={title} canonicalURL={`https://blog.rafaeldavish.dev/${slug}`}>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>Go back</span>
    </button>
  </div>
  <main id="main-content">
    <h1 transition:name={slugifyStr(title)} class="post-title">{title}</h1>
    <PostDatetime
      datetime={publishedAt}
      size="lg"
      className="my-2"
      readingTime={readTimeInMinutes}
      dateUpdated={updatedAt}
    />
    <article
      id="article"
      role="article"
      class="prose mx-auto mt-8 max-w-3xl"
      set:html={html}
    />
    <Footer />
  </main>

  <style>
    main {
      @apply mx-auto w-full max-w-3xl px-4 pb-12;
    }
    .post-title {
      @apply text-2xl font-semibold text-skin-accent;
    }
    .tags-container {
      @apply my-8;
    }
  </style>
</Layout>
